.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    border-right: 2px solid aqua;
}

.dialogsItems .active {
    color: hotpink;
}

.dialog a {
    color: rgb(246, 77, 209);
    text-decoration: none;
    margin-left: 10px;
}

.dialog img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.messages {
    padding: 10px;
}

.message {
    color: pink;
}

.message img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.textarea {
    background: gray;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    resize: none;
    overflow: hidden;
    color: pink;
}

.error {
    color: red;
}

.errorTextarea {
    border: 2px solid red;
    color: red;
}