.descriptionBlock {
    padding: 10px;
    font-family: sans-serif;
    color: pink;
}

.myContacts {
    display: flex;
    align-items: start;
    gap: 10px;
}

.myContacts a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    background: rgb(49, 6, 120);
    transition: background 0.3s ease;
}

.myContacts a:hover {
    background: blue;
    /* Обратный градиент при наведении */
}

.aboutMe {
    font-weight: bold;
    color: #fff;
}

.aboutMeHead {
    color: pink;
}

.fullName {
    color: greenyellow;
    font-weight: bold;
}

.unLoginImg {
    width: 200px;
    height: 200px;
    transition: transform 0.3s;
}

.descriptionBlock img :hover {
    transform: scale(1.1);
}

.descriptionBlock {
    transition: transform 0.3s;
}